.categories-btn-container button {
    transition: all .3s;
    transition-timing-function: ease-in;
}

.selected-category {
    color: white;
    cursor: auto;
    transition: all .3s;
    border: 1px solid rgb(63, 60, 60);
    padding-left: 30px;
    padding-right: 30px;
}

.selected-category:hover {
    color: white;
    border: .2px solid rgb(63, 60, 60);
    cursor: auto;
}